{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <title>ETL_ODS_Flux</title>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <img src="{% static 'images/01-Logo-Walden-Color.png' %}" width="60" height="60">
                <h1 class="navbar-brand" href="#">Pharma_post</h1>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Panel Admin</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="http://localhost:8000">Accueil</a>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="http://localhost:8000/admin/">Admin</a>
                        </li>
                        {% endif %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Tables
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="http://localhost:8000/ETL_ODS_Flux">ETL_ODS_Flux</a></li>
                                <li><a class="dropdown-item" href="http://localhost:8000/ETL_DWH_D_DATE">ETL_DWH_D_DATE</a></li>
                                <li><a class="dropdown-item" href="http://localhost:8000/ETL_DWH_D_LOCATION">ETL_DWH_D_LOCATION</a></li>
                                <li><a class="dropdown-item" href="http://localhost:8000/ETL_DWH_D_TYPE_VACCIN">ETL_DWH_D_TYPE_VACCIN</a></li>
                                <li><a class="dropdown-item" href="http://localhost:8000/ETL_DWH_F_FLUX">ETL_DWH_F_FLUX</a></li>
                            </ul>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            API
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="http://localhost:8000/api/ODS/Flux">API_Operational_Data_Store_Flux</a></li>
                                <li><a class="dropdown-item" href="http://localhost:8000/api/DWH/D_DATE">API_Datawarehouse_D_DATE</a></li>
                                <li><a class="dropdown-item" href="http://localhost:8000/api/DWH/D_LOCATION">API_Datawarehouse_D_LOCATION</a></li>
                                <li><a class="dropdown-item" href="http://localhost:8000/api/DWH/D_TYPE_VACCIN">API_Datawarehouse_D_TYPE_VACCIN</a></li>
                                <li><a class="dropdown-item" href="http://localhost:8000/api/DWH/F_FLUX">API_Datawarehouse_F_FLUX</a></li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                </div>
            </div>
        </nav>
        <div class="container Info_table">
            <div class="parent">
                <h1 class="Titre">ETL_ODS_Flux</h1>
                <p class="Nb_lignes">Nombre de lignes dans app_flux : {{ fluxs.paginator.count }}</p>
            </div>        
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>code_region</th>
                        <th>libelle_region</th>
                        <th>code_departement</th>
                        <th>libelle_departement</th>
                        <th>date_fin_semaine</th>
                        <th>type_de_vaccin</th>
                        <th>nb_ucd</th>
                        <th>nb_doses</th>
                    </tr>
                </thead>
                <tbody>
                    {% for flux in fluxs %}
                    <tr>
                        <td>{{ flux.id }}</td>
                        <td>{{ flux.code_region }}</td>
                        <td>{{ flux.libelle_region }}</td>
                        <td>{{ flux.code_departement }}</td>
                        <td>{{ flux.libelle_departement }}</td>
                        <td>{{ flux.date_fin_semaine }}</td>
                        <td>{{ flux.type_de_vaccin }}</td>
                        <td>{{ flux.nb_ucd }}</td>
                        <td>{{ flux.nb_doses }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- Ajouter la pagination -->
            <div class="d-flex justify-content-center">
                <ul class="pagination">
                    {% if fluxs.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">&laquo;&laquo;</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ fluxs.previous_page_number }}">{{ fluxs.previous_page_number }}</a></li>
                    {% endif %}

                    <li class="page-item active"><span class="page-link">{{ fluxs.number }}</span></li>

                    {% if fluxs.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ fluxs.next_page_number }}">{{ fluxs.next_page_number }}</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ fluxs.paginator.num_pages }}">&raquo;&raquo;</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>

