{% load static %}
<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <title>Pharma_post</title>
    </head>
    <body class="p-3 m-0 border-0 bd-example m-0 border-0">
        <nav class="navbar navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <img src="{% static 'images/01-Logo-Walden-Color.png' %}" width="60" height="60">
                <h1 class="navbar-brand" href="#">Pharma_post</h1>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Panel Admin</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://localhost:8000/admin/">Admin</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Tables
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="http://localhost:8000/ETL_ODS_Flux">ETL_ODS_Flux</a></li>
                                <li><a class="dropdown-item" href="http://localhost:8000/ETL_DWH_D_DATE">ETL_DWH_D_DATE</a></li>
                                <li><a class="dropdown-item" href="http://localhost:8000/ETL_DWH_D_LOCATION">ETL_DWH_D_LOCATION</a></li>
                                <li><a class="dropdown-item" href="http://localhost:8000/ETL_DWH_D_TYPE_VACCIN">ETL_DWH_D_TYPE_VACCIN</a></li>
                                <li><a class="dropdown-item" href="http://localhost:8000/ETL_DWH_F_FLUX">ETL_DWH_F_FLUX</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            API
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="http://localhost:8000/api/ODS/Flux">API_Operational_Data_Store_Flux</a></li>
                                <li><a class="dropdown-item" href="http://localhost:8000/api/DWH/D_DATE">API_Datawarehouse_D_DATE</a></li>
                                <li><a class="dropdown-item" href="http://localhost:8000/api/DWH/D_LOCATION">API_Datawarehouse_D_LOCATION</a></li>
                                <li><a class="dropdown-item" href="http://localhost:8000/api/DWH/D_TYPE_VACCIN">API_Datawarehouse_D_TYPE_VACCIN</a></li>
                                <li><a class="dropdown-item" href="http://localhost:8000/api/DWH/F_FLUX">API_Datawarehouse_F_FLUX</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                </div>
            </div>
        </nav>
        <div class="container Info_projet">
            <h1 class="mt-5">PROJET ENTREPRISE : PHARMA PILOT</h1>
            <p class="lead">Pharma Post, une société de livraison dédiée à la santé, nous a contacté afin de créer une application qui aidera à anticiper une potentielle prochaine pandémie de la COVID.</p>
            <p class="lead">Le besoin est de pouvoir restituer un nombre de doses nécessaire par département.</p>
            <p class="lead">Source : Explorateur de données : <a href="https://explore.data.gouv.fr/fr/tableau?url=https%3A%2F%2Fwww.data.gouv.fr%2Ffr%2Fdatasets%2Fr%2Fe9de3d17-e95b-4259-a203-50cdbb53ed92" target="_blank">data.gouv.fr</a></p>
            <hr>
            <p class="lead">Afin de répondre à ce besoin, nous devons créer une application qui affiche les doses de vaccins, par département, selon le numéro de semaine à n-3.</p>
            <p class="lead">En tant que développeur python, vous devrez prendre en charge ce besoin. Votre mission sera de :</p>
            <ul>
                <li>Créer une application et la publier sur Github</li>
                <li>Stocker toutes les données provenant de data.gouv dans une base de données dans une modélisation en étoile.</li>
                <li>Créer un script qui alimente la table ODS et les tables de l’entrepôt de données.</li>
                <li>Restituer les données de chaque table via une API. Seules les requêtes GET sont autorisées via un Token.</li>
                <li>Rédiger des tests cases pour chaque table du DWH. Au moins 5 tests devront être rédigés.</li>
                <li>Publier dans discord (via api et dans la conversation Python 2), le nombre de vaccin nécessaire pour le Puy de dôme, selon la semaine de publication du message. Votre message devra comporter le lien de votre répertoire GITHUB.</li>
            </ul>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>